*{
    margin: 0;
    padding: 0;
    border: o;
    vertical-align: baseline;
    box-sizing: border-box;
    
}


}
footer, address{
    border: 1px solid black;
    display: block;
    background: black;
    color: black;
    
}


}
#tit1{
    font-size: 60px;
}

#tit2{
    font-size: 60px;
    background: rgb(27, 27, 185);
    color: white;
}

figure#primeraparte{
    width: 40%;
    margin: 10px;
    margin-bottom: 10px;
    display: inline-block;
    
    position: relative;
    overflow: hidden;
}

figcaption{
    color: white;
    transition: all 0.5s;
    font-size: 30px;
    background: rgba(0,0,0, 0.7);
    position: absolute;
    left: 0px;
    bottom: -200px;
    width: 100%;
    

}

#txt1{
    margin-top: 10px;
    text-align: center;
    font-size: 40px;
}

#txt2{
    padding: 50px;
    text-align: center;
    text-align: justify;
    font-size: 25px;
    font-weight: lighter;
}


figure:hover figcaption{
    bottom: 0px;
}


#imggen{
    width: 100%;
    margin: 0;
    
}


  

.menu{
    margin-top: 10px;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    background: rgb(27, 27, 189);
    font-weight: bold;
}

.menu a{
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 10px 15px;
    line-height: 1;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
}

.menu a:hover{
    background: rgba(255, 255, 255, 0.2);
}

body{
    text-align: center;
}

#productos{
    
    width: 960;
    margin:  auto;
    padding: 20px;
}

a:hover{
    color: white;
}

header{
    background: rgb(27, 27, 189);

}

.izqpp{
    
    display: inline-block;
    text-align: left;
    padding-top: 10px;
    
}

.cenpp{
    margin-left: 35px;
    text-align: left;
    display: inline-block;
    
    padding-left: 35px;
}

.derpp{
    
    margin-left: 35px;
    text-align: left;
    display: inline-block;
    
    padding-left: 35px;
    padding-bottom: 20px;
    
}

#colorlogo{
    color: white;
}


